// Config
// --------------------

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: false;

@import "stuff";