.card {
  margin: 3px;
  padding: 15px;
  border-radius: 10px;
  background-color: $light;

  .card-header {
    font-weight: bold;
  }

  .card-body {
    background-color: $grey-400;
  }

  .card-footer {}
}

.shadow-100 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-300 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}