/**
 * Code
 */
pre {
  // box-shadow: var(--card-box-shadow);
  position: relative;
  margin: 2rem 0;
  // margin-bottom: var(--block-spacing-vertical);
  margin-bottom: 3rem;
  padding: calc(var(--block-spacing-vertical) / 3.5) var(--block-spacing-horizontal);
  // padding: 2.75rem 0 1.75rem 2rem;
  overflow: auto;
  background: var(--article-code-background-color);

  /* make space  */

  div {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border: none;
    background-color: transparent;
    color: var(--primary);
    text-align: right;

    &:hover {
      // background-color: var(--primary-hover);
      cursor: pointer;

    }

    &:focus {
      display: none;
    }
  }



}

pre,
code,
kbd,
samp {
  font-size: 0.875em; // 2
  font-family: var(--font-family); // 1
}

// Prevent overflow of the container in all browsers (opinionated)
pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

pre,
code,
kbd {
  border-radius: 10px;
  background: var(--code-background-color);
  color: var(--code-color);
  font-weight: var(--font-weight);
  line-height: initial;
}

code,
kbd {
  display: inline-block;
  padding: 0.1rem 0.3rem;
}

pre {
  display: block;
  margin-bottom: var(--spacing);
  overflow-x: auto;

  >code {
    display: block;
    padding: 2px;
    background: none;
    font-size: 14px;
    line-height: var(--line-height);
  }
}

// Code Syntax
code {

  // Tags
  b {
    color: var(--code-tag-color);
    font-weight: var(--font-weight);
  }

  // Properties
  i {
    color: var(--code-property-color);
    font-style: normal;
  }

  // Values
  u {
    color: var(--code-value-color);
    text-decoration: none;
  }

  // Comments
  em {
    color: var(--code-comment-color);
    font-style: normal;
  }
}

// kbd
kbd {
  background-color: var(--code-kbd-background-color);
  color: var(--code-kbd-color);
  vertical-align: baseline;
}