/**
 * Miscs
 */

hr {
  height: 0; // 2
  border: 0;
  border-top: 1px solid var(--muted-border-color);
  color: inherit; // 1
}

// Add the correct display in IE 10+
[hidden],
template {
  @if $enable-important {
    display: none !important;
  }

  @else {
    display: none;
  }
}

// Add the correct display in IE 9-
canvas {
  display: inline-block;
}