/**
 * Docs: Documentation
 */

// Docs: Themes
#themes {
  button.theme-switcher {
    &:first-of-type {
      --font-weight: bold;
    }
  }
}

// Docs: Customization
#customization {
  figure {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: 0;
    overflow: hidden;

    @media (min-width: map-get($breakpoints, "sm")) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(18, 1fr);
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    .card {
      margin-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    button {
      margin-bottom: 0;
      padding: 0;
      padding-top: 100%;
      border: none;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }

      &.picked {
        background-image: var(--icon-check);
        background-position: center;
        background-size: 0.66rem auto;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 1rem 0 rgba(0, 0, 0, 0.25);
      }

      &[data-color="lime"],
      &[data-color="yellow"],
      &[data-color="amber"] {
        &.picked {
          background-image: var(--icon-check-dark);
        }
      }
    }
  }

  h4 {
    transition: color var(--transition);
  }

  pre[data-theme="generated"] {
    border-color: var(--primary);
  }
}

// Docs: Grid
#grid {
  --grid-spacing-vertical: 1rem;

  // button {
  //   display: block;
  //   width: 100%;
  //   margin-bottom: var(--spacing);

  //   @media (min-width: map-get($breakpoints, "sm")) {
  //     display: inline-block;
  //     width: auto;
  //     margin-right: 0.5rem;
  //   }

  //   svg {
  //     stroke: var(--secondary);
  //     margin-right: 0.5rem;
  //     border: 2px solid currentColor;
  //     border-radius: 1rem;
  //     background: currentColor;
  //   }
  // }

  .grid {
    >* {
      padding: calc(var(--spacing) / 2) 0;
      border-radius: var(--border-radius);
      // background: var(--code-background-color);
      font-size: 87.5%;
      text-align: center;
    }
  }

  .grid-auto {
    >* {
      padding: calc(var(--spacing) / 2) 0;
      border-radius: var(--border-radius);
      // background: var(--code-background-color);
      font-size: 87.5%;
      text-align: center;
    }
  }

  details {
    margin-top: calc(var(--typography-spacing-vertical) * 2);

    svg {
      vertical-align: bottom;
    }
  }
}

// Docs: Buttons
#buttons {
  a[role="button"] {
    margin-right: calc(var(--spacing) * 0.5);
  }
}

// Docs: Forms
#forms div.grid {
  grid-row-gap: 0;
}

// Docs: Modal
#modal {
  button {
    --font-weight: bold;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9kb2N1bWVudGF0aW9uLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEiLCJmaWxlIjoiX2RvY3VtZW50YXRpb24uc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogRG9jczogRG9jdW1lbnRhdGlvblxuICovXG5cbi8vIERvY3M6IFRoZW1lc1xuI3RoZW1lcyB7XG4gIGJ1dHRvbi50aGVtZS1zd2l0Y2hlciB7XG4gICAgJjpmaXJzdC1vZi10eXBlIHtcbiAgICAgIC0tZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgfVxuICB9XG59XG5cbi8vIERvY3M6IEN1c3RvbWl6YXRpb25cbiNjdXN0b21pemF0aW9uIHtcbiAgZmlndXJlIHtcbiAgICBkaXNwbGF5OiBncmlkO1xuICAgIGdyaWQtdGVtcGxhdGUtcm93czogcmVwZWF0KDIsIDFmcik7XG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoOSwgMWZyKTtcbiAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG5cbiAgICBAbWVkaWEgKG1pbi13aWR0aDogbWFwLWdldCgkYnJlYWtwb2ludHMsIFwic21cIikpIHtcbiAgICAgIGdyaWQtdGVtcGxhdGUtcm93czogMWZyO1xuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMTgsIDFmcik7XG4gICAgICBib3JkZXItdG9wLXJpZ2h0LXJhZGl1czogdmFyKC0tYm9yZGVyLXJhZGl1cyk7XG4gICAgICBib3JkZXItdG9wLWxlZnQtcmFkaXVzOiB2YXIoLS1ib3JkZXItcmFkaXVzKTtcbiAgICB9XG5cbiAgICAuY2FyZCB7XG4gICAgICBtYXJnaW4tdG9wOiAwO1xuICAgICAgYm9yZGVyLXRvcC1yaWdodC1yYWRpdXM6IDA7XG4gICAgICBib3JkZXItdG9wLWxlZnQtcmFkaXVzOiAwO1xuICAgIH1cblxuICAgIGJ1dHRvbiB7XG4gICAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgICAgcGFkZGluZzogMDtcbiAgICAgIHBhZGRpbmctdG9wOiAxMDAlO1xuICAgICAgYm9yZGVyOiBub25lO1xuICAgICAgYm9yZGVyLXJhZGl1czogMDtcblxuICAgICAgJjpmb2N1cyB7XG4gICAgICAgIGJveC1zaGFkb3c6IG5vbmU7XG4gICAgICB9XG5cbiAgICAgICYucGlja2VkIHtcbiAgICAgICAgYmFja2dyb3VuZC1pbWFnZTogdmFyKC0taWNvbi1jaGVjayk7XG4gICAgICAgIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcbiAgICAgICAgYmFja2dyb3VuZC1zaXplOiAwLjY2cmVtIGF1dG87XG4gICAgICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgICAgIGJveC1zaGFkb3c6IGluc2V0IDAgMCAxcmVtIDAgcmdiYSgwLCAwLCAwLCAwLjI1KTtcbiAgICAgIH1cblxuICAgICAgJltkYXRhLWNvbG9yPVwibGltZVwiXSxcbiAgICAgICZbZGF0YS1jb2xvcj1cInllbGxvd1wiXSxcbiAgICAgICZbZGF0YS1jb2xvcj1cImFtYmVyXCJdIHtcbiAgICAgICAgJi5waWNrZWQge1xuICAgICAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHZhcigtLWljb24tY2hlY2stZGFyayk7XG4gICAgICAgIH1cbiAgICAgIH1cbiAgICB9XG4gIH1cblxuICBoNCB7XG4gICAgdHJhbnNpdGlvbjogY29sb3IgdmFyKC0tdHJhbnNpdGlvbik7XG4gIH1cblxuICBwcmVbZGF0YS10aGVtZT1cImdlbmVyYXRlZFwiXSB7XG4gICAgYm9yZGVyLWNvbG9yOiB2YXIoLS1wcmltYXJ5KTtcbiAgfVxufVxuXG4vLyBEb2NzOiBHcmlkXG4jZ3JpZCB7XG4gIC0tZ3JpZC1zcGFjaW5nLXZlcnRpY2FsOiAxcmVtO1xuXG4gIC8vIGJ1dHRvbiB7XG4gIC8vICAgZGlzcGxheTogYmxvY2s7XG4gIC8vICAgd2lkdGg6IDEwMCU7XG4gIC8vICAgbWFyZ2luLWJvdHRvbTogdmFyKC0tc3BhY2luZyk7XG5cbiAgLy8gICBAbWVkaWEgKG1pbi13aWR0aDogbWFwLWdldCgkYnJlYWtwb2ludHMsIFwic21cIikpIHtcbiAgLy8gICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgLy8gICAgIHdpZHRoOiBhdXRvO1xuICAvLyAgICAgbWFyZ2luLXJpZ2h0OiAwLjVyZW07XG4gIC8vICAgfVxuXG4gIC8vICAgc3ZnIHtcbiAgLy8gICAgIHN0cm9rZTogdmFyKC0tc2Vjb25kYXJ5KTtcbiAgLy8gICAgIG1hcmdpbi1yaWdodDogMC41cmVtO1xuICAvLyAgICAgYm9yZGVyOiAycHggc29saWQgY3VycmVudENvbG9yO1xuICAvLyAgICAgYm9yZGVyLXJhZGl1czogMXJlbTtcbiAgLy8gICAgIGJhY2tncm91bmQ6IGN1cnJlbnRDb2xvcjtcbiAgLy8gICB9XG4gIC8vIH1cblxuICAuZ3JpZCB7XG4gICAgPioge1xuICAgICAgcGFkZGluZzogY2FsYyh2YXIoLS1zcGFjaW5nKSAvIDIpIDA7XG4gICAgICBib3JkZXItcmFkaXVzOiB2YXIoLS1ib3JkZXItcmFkaXVzKTtcbiAgICAgIC8vIGJhY2tncm91bmQ6IHZhcigtLWNvZGUtYmFja2dyb3VuZC1jb2xvcik7XG4gICAgICBmb250LXNpemU6IDg3LjUlO1xuICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIH1cbiAgfVxuXG4gIC5ncmlkLWF1dG8ge1xuICAgID4qIHtcbiAgICAgIHBhZGRpbmc6IGNhbGModmFyKC0tc3BhY2luZykgLyAyKSAwO1xuICAgICAgYm9yZGVyLXJhZGl1czogdmFyKC0tYm9yZGVyLXJhZGl1cyk7XG4gICAgICAvLyBiYWNrZ3JvdW5kOiB2YXIoLS1jb2RlLWJhY2tncm91bmQtY29sb3IpO1xuICAgICAgZm9udC1zaXplOiA4Ny41JTtcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB9XG4gIH1cblxuICBkZXRhaWxzIHtcbiAgICBtYXJnaW4tdG9wOiBjYWxjKHZhcigtLXR5cG9ncmFwaHktc3BhY2luZy12ZXJ0aWNhbCkgKiAyKTtcblxuICAgIHN2ZyB7XG4gICAgICB2ZXJ0aWNhbC1hbGlnbjogYm90dG9tO1xuICAgIH1cbiAgfVxufVxuXG4vLyBEb2NzOiBCdXR0b25zXG4jYnV0dG9ucyB7XG4gIGFbcm9sZT1cImJ1dHRvblwiXSB7XG4gICAgbWFyZ2luLXJpZ2h0OiBjYWxjKHZhcigtLXNwYWNpbmcpICogMC41KTtcbiAgfVxufVxuXG4vLyBEb2NzOiBGb3Jtc1xuI2Zvcm1zIGRpdi5ncmlkIHtcbiAgZ3JpZC1yb3ctZ2FwOiAwO1xufVxuXG4vLyBEb2NzOiBNb2RhbFxuI21vZGFsIHtcbiAgYnV0dG9uIHtcbiAgICAtLWZvbnQtd2VpZ2h0OiBib2xkO1xuICB9XG59Il19 */