/**
 * Docs: Main (Grid)
 */

// Config
$navHeight: 1.5rem;

// Main grid
body>main {
  padding-top: calc(var(--block-spacing-vertical) + #{$navHeight});

  @if map-get($breakpoints, "lg") {
    @media (min-width: map-get($breakpoints, "lg")) {
      --block-spacing-horizontal: calc(var(--spacing) * 1.75);
      grid-column-gap: calc(var(--block-spacing-horizontal) * 1);
      display: grid;
      grid-template-columns: 200px auto;
    }
  }

  @if map-get($breakpoints, "xl") {
    @media (min-width: map-get($breakpoints, "xl")) {
      --block-spacing-horizontal: calc(var(--spacing) * 2);
    }
  }

  >aside,
  div[role="document"] {
    min-width: 0;
  }
}

// External links
div[role="document"] section a[href*="//"]:not([href*="https://stuffcss.netlify.app"], [role])::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: var(--icon-external);
  background-position: top center;
  background-size: 0.66rem auto;
  background-repeat: no-repeat;
  content: "";
}

// Embedded SVG
svg {
  height: 1rem;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9tYWluLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEiLCJmaWxlIjoiX21haW4uc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogRG9jczogTWFpbiAoR3JpZClcbiAqL1xuXG4vLyBDb25maWdcbiRuYXZIZWlnaHQ6IDEuNXJlbTtcblxuLy8gTWFpbiBncmlkXG5ib2R5Pm1haW4ge1xuICBwYWRkaW5nLXRvcDogY2FsYyh2YXIoLS1ibG9jay1zcGFjaW5nLXZlcnRpY2FsKSArICN7JG5hdkhlaWdodH0pO1xuXG4gIEBpZiBtYXAtZ2V0KCRicmVha3BvaW50cywgXCJsZ1wiKSB7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6IG1hcC1nZXQoJGJyZWFrcG9pbnRzLCBcImxnXCIpKSB7XG4gICAgICAtLWJsb2NrLXNwYWNpbmctaG9yaXpvbnRhbDogY2FsYyh2YXIoLS1zcGFjaW5nKSAqIDEuNzUpO1xuICAgICAgZ3JpZC1jb2x1bW4tZ2FwOiBjYWxjKHZhcigtLWJsb2NrLXNwYWNpbmctaG9yaXpvbnRhbCkgKiAxKTtcbiAgICAgIGRpc3BsYXk6IGdyaWQ7XG4gICAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IDIwMHB4IGF1dG87XG4gICAgfVxuICB9XG5cbiAgQGlmIG1hcC1nZXQoJGJyZWFrcG9pbnRzLCBcInhsXCIpIHtcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogbWFwLWdldCgkYnJlYWtwb2ludHMsIFwieGxcIikpIHtcbiAgICAgIC0tYmxvY2stc3BhY2luZy1ob3Jpem9udGFsOiBjYWxjKHZhcigtLXNwYWNpbmcpICogMik7XG4gICAgfVxuICB9XG5cbiAgPmFzaWRlLFxuICBkaXZbcm9sZT1cImRvY3VtZW50XCJdIHtcbiAgICBtaW4td2lkdGg6IDA7XG4gIH1cbn1cblxuLy8gRXh0ZXJuYWwgbGlua3NcbmRpdltyb2xlPVwiZG9jdW1lbnRcIl0gc2VjdGlvbiBhW2hyZWYqPVwiLy9cIl06bm90KFtocmVmKj1cImh0dHBzOi8vc3R1ZmZjc3MubmV0bGlmeS5hcHBcIl0sIFtyb2xlXSk6OmFmdGVyIHtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICB3aWR0aDogMXJlbTtcbiAgaGVpZ2h0OiAxcmVtO1xuICBiYWNrZ3JvdW5kLWltYWdlOiB2YXIoLS1pY29uLWV4dGVybmFsKTtcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogdG9wIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiAwLjY2cmVtIGF1dG87XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIGNvbnRlbnQ6IFwiXCI7XG59XG5cbi8vIEVtYmVkZGVkIFNWR1xuc3ZnIHtcbiAgaGVpZ2h0OiAxcmVtO1xufSJdfQ== */