// Navy-Grey
$grey-hue: 205 !default;
$grey-50: hsl($grey-hue, 20%, 94%) !default;
$grey-100: hsl($grey-hue, 18%, 86%) !default;
$grey-200: hsl($grey-hue, 16%, 77%) !default;
$grey-300: hsl($grey-hue, 14%, 68%) !default;
$grey-400: hsl($grey-hue, 12%, 59%) !default;
$grey-500: hsl($grey-hue, 10%, 50%) !default;
$grey-600: hsl($grey-hue, 15%, 41%) !default;
$grey-700: hsl($grey-hue, 20%, 32%) !default;
$grey-800: hsl($grey-hue, 25%, 23%) !default;
$grey-900: hsl($grey-hue, 30%, 15%) !default;

// // Light Blue
// $lightblue: 195 !default;
// $blue-50: hsl($lightblue, 90%, 94%) !default;
// $blue-100: hsl($lightblue, 88%, 86%) !default;
// $blue-200: hsl($lightblue, 86%, 77%) !default;
// $blue-300: hsl($lightblue, 84%, 68%) !default;
// $blue-400: hsl($lightblue, 82%, 59%) !default;
// $blue-500: hsl($lightblue, 80%, 50%) !default;
// $blue-600: hsl($lightblue, 85%, 41%) !default;
// $blue-700: hsl($lightblue, 90%, 32%) !default;
// $blue-800: hsl($lightblue, 95%, 23%) !default;
// $blue-900: hsl($lightblue, 100%, 15%) !default;

$dark: #1B1B1D !default;
$light: #F5F6F7 !default;

// mono
$black: #000 !default;
$white: #fff !default;
$blue: blue !default;
$darkblue: #000C66 !default;
$lightblue: lightblue !default;
$red: red !default;
$yellow: yellow !default;
$green: green !default;

// yellow
$yellow-50: #fff8e1 !default;
$yellow-100: #ffecb3 !default;
$yellow-200: #ffe082 !default;
$yellow-300: #ffd54f !default;
$yellow-400: #ffca28 !default;
$yellow-500: #ffc107 !default;
$yellow-600: #ffb300 !default;
$yellow-700: #ffa000 !default;
$yellow-800: #ff8f00 !default;
$yellow-900: #ff6f00 !default;

// Green
$green-50: #e8f5e9 !default;
$green-100: #c8e6c9 !default;
$green-200: #a5d6a7 !default;
$green-300: #81c784 !default;
$green-400: #66bb6a !default;
$green-500: #4caf50 !default;
$green-600: #43a047 !default;
$green-700: #388e3c !default;
$green-800: #2e7d32 !default;
$green-900: #1b5e20 !default;

// Red
$red-50: #ffebee !default;
$red-100: #ffcdd2 !default;
$red-200: #ef9a9a !default;
$red-300: #e57373 !default;
$red-400: #ef5350 !default;
$red-500: #f44336 !default;
$red-600: #e53935 !default;
$red-700: #d32f2f !default;
$red-800: #c62828 !default;
$red-900: #b71c1c !default;