// Commons Styles
:root {
  // Typography
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  // Borders
  border-radius: 0.25rem;
  border-width: 1px;
  outline-width: 3px;

  // Spacings

}

// Link
a {
  color: $primary-hue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Small
small {
  font-size: 0.875em;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  color: $red-50;
  font-size: 2em;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

// Forms elements
[type="checkbox"],
[type="radio"] {
  border-width: 2px;
}

[type="checkbox"][role="switch"] {
  border-width: 3px;
}

// Table
thead,
tfoot {

  th,
  td {
    border-width: 3px;
  }
}

:not(thead, tfoot)>*>td {
  font-size: 0.875em;
}

// Code
pre,
code,
kbd,
samp {
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
    "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

kbd {
  font-weight: bolder;
}