:root {
  // Typography
  --font-family: "Oxygen", sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 16px;

  // Responsive typography
  @if $enable-responsive-typography {
    @if map-get($breakpoints, "sm") {
      @media (min-width: map-get($breakpoints, "sm")) {
        --font-size: 17px;
      }
    }

    @if map-get($breakpoints, "md") {
      @media (min-width: map-get($breakpoints, "md")) {
        --font-size: 18px;
      }
    }

    @if map-get($breakpoints, "lg") {
      @media (min-width: map-get($breakpoints, "lg")) {
        --font-size: 19px;
      }
    }

    @if map-get($breakpoints, "xl") {
      @media (min-width: map-get($breakpoints, "xl")) {
        --font-size: 20px;
      }
    }
  }

  // Borders
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;

  // Spacings
  --spacing: 1rem;

  // Spacings for typography elements
  --typography-spacing-vertical: 1.5rem;

  // Spacings for body > header, body > main, body > footer, section, .card
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);

  @if ($enable-classes and $enable-grid) {
    --grid-spacing-vertical: 0;
    --grid-spacing-horizontal: var(--spacing);
  }

  // Spacings for form elements and button
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 0.5rem;

  // Spacings for nav component
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;

  // Font weight for form labels & fieldsets legend
  --form-label-font-weight: var(--font-weight);

  // Transitions
  --transition: 0.2s ease-in-out;

  // Modal (<dialog>)
  --modal-overlay-backdrop-filter: blur(0.25rem);
}


.darkmode {
  cursor: pointer;
}

.custom-shape-divider-bottom-1674638976 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}