/**
 * Theme: Additions for docs
 */

@import "../../../scss/themes/default/colors";
@import "docs/icons";

// Light theme (Default)
// Can be forced with data-theme="light"
@import "docs/light";

// Dark theme (Auto)
// Automatically enabled if user has Dark mode enabled
@import "docs/dark";

@media only screen and (prefers-color-scheme: light) {
  // :root:not([data-theme="dark"]) {
  //   @include dark;
  // }
}

// Dark theme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  @include dark;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9kb2NzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEiLCJmaWxlIjoiX2RvY3Muc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogVGhlbWU6IEFkZGl0aW9ucyBmb3IgZG9jc1xuICovXG5cbkBpbXBvcnQgXCIuLi8uLi8uLi9kaXN0L3Njc3MvdGhlbWVzL2RlZmF1bHQvY29sb3JzXCI7XG5AaW1wb3J0IFwiZG9jcy9pY29uc1wiO1xuXG4vLyBMaWdodCB0aGVtZSAoRGVmYXVsdClcbi8vIENhbiBiZSBmb3JjZWQgd2l0aCBkYXRhLXRoZW1lPVwibGlnaHRcIlxuQGltcG9ydCBcImRvY3MvbGlnaHRcIjtcblxuLy8gRGFyayB0aGVtZSAoQXV0bylcbi8vIEF1dG9tYXRpY2FsbHkgZW5hYmxlZCBpZiB1c2VyIGhhcyBEYXJrIG1vZGUgZW5hYmxlZFxuQGltcG9ydCBcImRvY3MvZGFya1wiO1xuXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChwcmVmZXJzLWNvbG9yLXNjaGVtZTogbGlnaHQpIHtcbiAgLy8gOnJvb3Q6bm90KFtkYXRhLXRoZW1lPVwiZGFya1wiXSkge1xuICAvLyAgIEBpbmNsdWRlIGRhcms7XG4gIC8vIH1cbn1cblxuLy8gRGFyayB0aGVtZSAoRm9yY2VkKVxuLy8gRW5hYmxlZCBpZiBmb3JjZWQgd2l0aCBkYXRhLXRoZW1lPVwiZGFya1wiXG5bZGF0YS10aGVtZT1cImRhcmtcIl0ge1xuICBAaW5jbHVkZSBkYXJrO1xufVxuIl19 */