.card {
  margin: 3px;
  padding: 15px;
  border-radius: 10px;
  background-color: $light;

  .card-header {
    font-weight: bold;
  }

  .card-body {
    background-color: $grey-400;
  }

  .card-footer {}
}