/**
 * Nav
 */

// Prevent VoiceOver from ignoring list semantics in Safari (opinionated)
:where(nav li)::before {
  float: left;
  content: "\200B";
}

// Horizontal Nav
nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;

  ol,
  ul {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    &:first-of-type {
      // margin-left: 20px;
    }

    &:last-of-type {
      // margin-right: 20px;
    }
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 2px;

    // Minimal support for buttons and forms elements
    >* {
      --spacing: 0;
    }
  }

  :where(a, [role="link"]) {
    display: inline-block;
    margin: 5px 5px;
    padding: 15px 5px;
    border-radius: 10px;
    text-decoration: none;

    &:is([aria-current], :hover, :active, :focus) {
      text-decoration: none;
    }
  }

  // Minimal support for role="button"
  [role="button"] {
    margin-right: inherit;
    margin-left: inherit;
    padding: 15px 5px;
  }
}