// Responsives spacings
@if $enable-responsive-spacings {

  // Sectioning
  #{$semantic-root-element}>header,
  #{$semantic-root-element}>main,
  #{$semantic-root-element}>footer,
  section {
    @if map-get($breakpoints, "sm") {
      @media (min-width: map-get($breakpoints, "sm")) {
        --block-spacing-vertical: calc(var(--spacing) * 2.5);
      }
    }

    @if map-get($breakpoints, "md") {
      @media (min-width: map-get($breakpoints, "md")) {
        --block-spacing-vertical: calc(var(--spacing) * 3);
      }
    }

    @if map-get($breakpoints, "lg") {
      @media (min-width: map-get($breakpoints, "lg")) {
        --block-spacing-vertical: calc(var(--spacing) * 3.5);
      }
    }

    @if map-get($breakpoints, "xl") {
      @media (min-width: map-get($breakpoints, "xl")) {
        --block-spacing-vertical: calc(var(--spacing) * 4);
      }
    }
  }



}