// // Commons Styles
// @import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);



// Link
a {

  // Secondary & Contrast
  @if $enable-classes {

    &.secondary,
    &.contrast {
      --text-decoration: underline;
    }
  }
}

.none {
  --text-decoration: none;
}

// Small
small {
  --font-size: 0.875em;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 700;
}

h1 {
  --font-size: 2rem;
  --typography-spacing-vertical: 2rem;
}

h2 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 1.625rem;
}

h3 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 1.25rem;
}

h4 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 0.874rem;
}

h5 {
  --font-size: 1.125rem;
  --typography-spacing-vertical: 0.6875rem;
}

// Forms elements
[type="checkbox"],
[type="radio"] {
  --border-width: 2px;
}

[type="checkbox"][role="switch"] {
  --border-width: 3px;
}

// Table
thead,
tfoot {

  th,
  td {
    --border-width: 3px;
  }
}

:not(thead, tfoot)>*>td {
  --font-size: 0.875em;
}

// Code
pre,
code,
kbd,
samp {
  --font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
    "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

kbd {
  --font-weight: bolder;
}

// Align
.center {
  justify-items: center;
  text-align: center;
}

.justify {
  text-align: justify;
}